<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="bower_components/md-data-table/dist/md-data-table-style.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ng-cloak layout="row">


        <md-sidenav md-theme="menu" class="md-sidenav-left md-whiteframe-z3 md-primary md-hue-1" md-component-id="menu" md-is-locked-open="$mdMedia('gt-md') && currentUser">
            <md-content flex class="md-hue-1" ng-controller="MenuCtrl">
                <div layout="column" layout-align="start start" layout-padding>
                    <md-list>
                        <md-list-item>
                            <i class="md-dark material-icons md-36 orange600">phone</i>
                            <h3 class="md-headline">Telesal</h3>
                        </md-list-item>
                    </md-list>

                    <h6 class="subhead" style="margin-bottom:0px;padding-left:16px;">Generelt</h6>
                    <md-list>

                        <md-list-item class="active">
                            <i class="material-icons md-20">assessment</i>
                            <p class="md-body-1" ng-click="goto('/dashboard')">Dashboard</p>
                        </md-list-item>
                        <md-list-item>
                            <i class="material-icons md-20">home</i>
                            <p class="md-body-1" ng-click="goto('/halls')">Halls</p>
                        </md-list-item>

                    </md-list>
                </div>

            </md-content>
        </md-sidenav>
        <div layout="column" layout-fill ng-view>
        <!--md-content flex ng-view md-scroll-y layout-fill>

        </md-content-->
        </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="bower_components/blacktigerjs/dist/blacktiger.js"></script>
    <script src="bower_components/teljs/dist/tel.js"></script>
    <script src="bower_components/teljs/dist/metadatalite.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-uuid4/angular-uuid4.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/md-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/md-data-table/dist/md-data-table-templates.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/controllers/_init.js"></script>
    <script src="scripts/directives/_init.js"></script>
    <script src="scripts/filters/_init.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/halls.js"></script>
    <script src="scripts/controllers/hall-edit.js"></script>
    <script src="scripts/directives/capitalize.js"></script>
    <script src="scripts/directives/numbericon.js"></script>
    <script src="scripts/directives/duration.js"></script>
    <script src="scripts/filters/timespan.js"></script>
    <script src="scripts/filters/filterbyroles.js"></script>
    <!-- endbuild -->
</body>
</html>
