<section> 
    <md-subheader class="md-primary">
        Lines
        <md-button ng-click="selectArea($event)" class="md-raised md-accent">
            {{areaCode ? areaCode : 'all'}}
        </md-button>
        
    </md-subheader>
    <md-list layout="column">
        <md-item>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Halls</h3>
              <p>
                {{data[areaCode].halls}}
              </p>
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Listeners</h3>
              <p>
                {{data[areaCode].participants}}
              </p>
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Listeners per Hall</h3>
              <p>
                {{participantsPerHall() | number}}
              </p>
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Listeners via Computer</h3>
              <p>
                {{participantPercentageViaSip() | number:1}} %
              </p>
            </div>
          </md-item-content>
        </md-item>
        <md-divider></md-divider>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Listeners via Phone</h3>
              <p>
                {{participantPercentageViaPhone() | number:1}} %
              </p>
            </div>
          </md-item-content>
        </md-item>
        <!--md-divider></md-divider>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Comment Requests</h3>
              <p>
                {{data[areaCode].commentRequests }}
              </p>
            </div>
          </md-item-content>
        </md-item-->
        <md-divider></md-divider>
          <md-item-content>
            <div class="md-tile-content">
              <h3>Open Microphones</h3>
              <p>
                {{data[areaCode].openMicrophones}}
              </p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>

</section>
